<h3>Поиск</h3>
  <%= form_tag(items_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search" %>
  <% end %>

  <% if @items.blank? %>

    <h4>NO ITEMS <%= params[:search] %>.</h4>

  <% else %>

      <br>
    <% @items.each do |item|%>
      <div>
        <% if item.name == "" %>
          <%= link_to "#{item.model}", item%>
        <% else %>
          <%= link_to "#{item.name}", item %>
        <% end %>
      </div>
    <% end %>
    <br>
    <%= will_paginate  @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
  <% end %>
