<div class="my-0 mr-md-auto font-weight-bold">
    <%= @item.name %>
</div>
<div>
  <%= @item.model%>
</div>
<br>
<div> Цена:
    <%= @item.price %> р.
</div>
<div> В наличии:
    <% if @item.avaliable == "true" %>
       да
    <% else %>
      нет
    <% end %>
</div>
<div> Возможность доставки:
    <% if @item.delivery == "true" %>
       да
    <% else %>
      нет
    <% end %>
</div>
<div> Описание:
    <%= @item.description %>
</div>
<div> Страна:
    <%= @item.vendor %>
</div>
<div>
    <% @picture_arr.each do |pic_url| %>
      <%= image_tag "#{pic_url}", :class => "style_image" %>
    <% end %>
</div>
